config {
  inputs {
    path "~/.config/pkg"
    bridges-set "~/.config/pkg/.bridges"
  }
  output {
    target-dir "/opt/pkg"
    load-path "/usr/local/pkg"
  }
  db {
    path "/var/db/pkg/packages.db"
  }
}
