eget {
  colima "abiosoft/colima" // a docker container runtime
  docker-compose "docker/compose" // docker compose
  btop "aristocratos/btop" // a system monitor
  magick "ImageMagick/ImageMagick" // a tool to convert images and work with them
  gh "cli/cli" // github cli
  direnv "direnv/direnv" // a tool to manage your environment
  exercism "exercism/cli"
  lazygit "jesseduffield/lazygit" // a git tui
  lazydocker "jesseduffield/lazydocker"
  posting "darrenburns/posting"
  timewarrior "GothenburgBitFactory/timewarrior"
}

cargo {
  wiki-tui // a tui for wikis
  rustywind // an lsp for tailwindcss
  binwalk // a tool to check the binary (good for checking if there malware)
  sd // a better sed
  starship // shell prompt
  kondo // Cleans dependencies and build artifacts from your projects 🧹
  tokei // a tool to count your code
  rusty-man // the man cli but for rust crates
  nu-fmt "https://github.com/Rex-Sanchez/nushell_fmt.git" git=#true // a formatter for nushell (⚠️ not ready to use)
  //nufmt (⚠️ not ready to use)
  hyperfine // a benchmarking tool
  asciinema // a tool to record terminal videos (gifs)
  mdbook // a tool to make a book from markdown
  delta git-delta
  rainfrog
}

// raylib
// coreutils
// tcpdump
// tshark
// iperf3
// lsd
// stow
// tmux
// pueue

// bootstrap
eget
cargo-binstall

// i don't know how to install those
ffmpeg
mpv
zathura
pass
htop
bacon //??
// guis (mac only issue)
kitty
gimp3
alacritty
sxhkd // link only
// i think those is from the unix coreutils
curl
wget

// asdf of proto or mise
lima
docker // try the go bridge with github.com/docker/cli.git
git
llvm_18
pkg-config
qemu
gdb
podman
podman-compose
fontforge
fish
go
bun
deno
lld
gnumake
cmake
gcc
llvm_18
octave
libiconv
lua
gnupg
pipx
pip
zig
postgresql
vim
git
git-lfs
