eget {
  meteor "stefanlogue/meteor" // a tool to write a better commit messages in Chaa'Allah
  hx "helix-editor/helix" keep_structure=#true target="*" entry_point="hx" // a code editor
  // hx "usagi-flow/evil-helix" keep_structure=#true entry_point="hx" // a fork of helix that uses the nvim editing model
  nvim "neovim/neovim" keep_structure=#true target="*" entry_point="bin/nvim" // a text editor

  direnv "direnv/direnv" // a tool to manage your environment

  gh "cli/cli" // github cli
}

cargo {
  zellij // terminal multiplexer
  //rusty-man // the man cli but for rust crates
  hyperfine // a benchmarking tool
  mise // a version manager
}

go {
  new "github.com/yarlson/cutr@latest" // make new projects from templates insha'Allah
}
