eget {
    d2 "terrastruct/d2" // diagram as code compiler
    meteor "stefanlogue/meteor" // a tool to write a better commit messages in Chaa'Allah
    
    sqlc "sqlc-dev/sqlc" asset="^.tar.gz" // sql compiler

    ollama "ollama/ollama" asset="^.tgz" // an ai tool

    goneovim "akiyosi/goneovim" // gui for neovim

    hermit "cashapp/hermit" // Hermit installs tools for software projects in self-contained, isolated sets, so your team, your contributors, and your CI have the same consistent tooling.

    goose "block/goose" // AI agent that goes beyond code suggestions - install, execute, edit, and test with any LLM

    asdf "asdf-vm/asdf" asset=".tar.gz." // a tool manager

    proto "moonrepo/proto" // a tool manager

    moon "moonrepo/moon" // a projects manager

    hx "helix-editor/helix" keep_structure=#true entry_point="hx" // a code editor

    nvim "neovim/neovim" keep_structure=#true entry_point="bin/nvim" // a text editor
}

cargo {
    // cmd runners
    just
    mask
    mprocs

    nu // a modern shell

    // tool managers
    mise
    usage-cli // cli to show usage of commands

    // dev tools
    zellij // terminal multiplexer
    bat // cat files with syntax highlighting
    fd "fd-find" // file finder
    ripgrep // grep
    tlrc // cheatsheets
    lstr // file tree
    kdlfmt // format kdl files
    neovide // gui for neovim
}
