eget {
  fzf "junegunn/fzf" // a file fuzzy finder
  // rmlint "sahib/rmlint" // Extremely fast tool to remove duplicates and other lint from your filesystem
  gomi "babarot/gomi" // an rm alternate
  // lftp "lavv17/lftp" // a file transfer tool
  syncthing "syncthing/syncthing" // a p2p file sync tool
  // axel "axel-download-accelerator/axel" // FIXME:

  yazi "sxyazi/yazi" // a file manager
  sops "getsops/sops" asset="^.json" // simple encrypted files editor
  age "FiloSottile/age" keep_structure=#true target="*" entry_point="age" asset="^.tar.gz." // an encryption tool (like gpg), but more simpler and modern

  croc "schollz/croc" // Easily and securely send things from one computer to another. and BTW this is an andoird client (https://github.com/howeyc/crocgui.git)
}

cargo {
  dua "dua-cli" // a better du
  zoxide // a better cd
  rg "ripgrep" // a better grep
  fd "fd-find" // a better find
  we "watchexec-cli" // a tool that watches files and runs commands when they change
  lstr // file tree
  kondo // Cleans dependencies and build artifacts from your projects 🧹
}
