// this is a list of the runtimes, compilers, lsp... that are not exist in mise or only available via the repo or a cargo or a url
cargo {
  nu // feature="mcp" // a new type of package manager, NOTE: i put this here because it's important
  nu-lint // a linter for nushell
  kdlfmt // format kdl files
  kdl-fmt "https://github.com/dj95/kdl-fmt" method="git" // another kdl formatter
  kdl-lsp "https://github.com/heufel/kdl-lsp-standalone.git" method="git" // a kdl lsp
  lspmux // share one language server instance between multiple LSP clients to save resources
  rustywind // a tailwind css rust lsp
  topiary "topiary-cli" // universal code formatter
  fish "https://github.com/fish-shell/fish-shell" method="git" // fish shell, NOTE: i put this here because i use it for the shell completion in my nushell config
  dx "dioxus-cli"
  pkgx // a version manager
  // rustowl "rustowl" target-dir="bin" target="rustowl" // Visualize Ownership in Rust // FIXME: this issue is pkg gonna insha'Allah link only one exec but there is two
  rustlings // small exercises to get you used to reading and writing Rust code
  mise // a version manager
  // nu-fmt "https://github.com/nushell/nufmt" method="git" // a formatter for nushell // this formatter not working and danger
  tree-sitter-cli tree-sitter-cli locked=#true // the tree sitter cli
}

eget {
  d2 "terrastruct/d2" // diagram as code compiler
  sqlc "sqlc-dev/sqlc" asset="tar.gz" // sql compiler
  moon "moonrepo/moon" // a projects manager
  uv "astral-sh/uv" // a python pm
  pkgm "pkgxdev/pkgm" // a pm to install the pkgx pkgs in the local machine
  fvm "leoafarias/fvm" // a version manager for flutter
  docker-compose "docker/compose" asset="^.json" // Define and run multi-container applications with Docker
  docker-buildx "docker/buildx" asset="^.json" // Docker CLI plugin for extended build capabilities with BuildKit
  bun "oven-sh/bun" asset="^profile" // a fast js run time
  kdlc "osjupiter/kdlc" // A fast and efficient tool to convert KDL (KDL Document Language) files to JSON
  lua-language-server "LuaLS/lua-language-server" keep_structure=#true target="*" entry_point="bin/lua-language-server"
  rustowl "cordx56/rustowl" asset="^.tar.gz"
  act "nektos/act" // run github actions locally
  actionlint "rhysd/actionlint" // Static checker for GitHub Actions workflow files
}

// go {
  // docker "github.com/docker/cli/cli@latest" // the docker cli
// }
