eget {
  // fs
  lnk "yarlson/lnk" // a dotfile manager
  afx "babarot/afx" // a package manager
  // utils
  carapace "carapace-sh/carapace-bin" file="carapace" // a shell completions generator

  ollama "ollama/ollama" asset="^.tgz" // a tool to manage the ai models
  yq "mikefarah/yq" asset="tar.gz" file="yq_*" // a tool to parse YAML, JSON, XML, CSV, TOML files from cli // NOTE: this one is a dep for install the android-sdk via mise

  //pass "https://git.zx2c4.com/password-store/snapshot/password-store-master.tar.xz" keep_structure=#true after_hook="cd out; make install DESTDIR=out PREFIX=''" target="out" entry_point="bin/pass" // it's broken


  exercism "exercism/cli" file="exercism" // a programming exercise
}

cargo {
  bat // a better cat
  sd // a better sed
  // visual
  starship // shell prompt
  vivid // LS_COLORS generator
  pastel // a tool to convert colors and work with them
  tokei // a tool to count your code
  //tldr "tlrc" // cheatsheets
  binwalk // a tool to check the binary (good for checking if there malware)
  neda "neda-cli"
}
